*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 10px;
    font-size: larger;
}
.Container{
    background-color:burlywood;
    padding: 10PX;
    border: 10px;
    border-radius: 2px;

}
input[type="Name"],
input[type="Email"],
input[type="Message"],
input[type="Subject"],
textarea{
    width: 97%;
    padding: 10px;
    border: 5px;
    border-radius: 5px;
    margin: 10px;
}
h1{
    text-align: center;
}
input[type="Submit"]{
    width: 100%;
    padding: 20px;
    border: 15px;
    border-radius: 10px;
    background-color: green;
    color: white;

}
input[type="Submit"]:hover{
    background-color: lawngreen;
    cursor: pointer;

}